<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "Clubhouse" %></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/auth.css">
  </head>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header', { user }) %>

    <!-- MAIN CONTENT -->
    <main class="main-container">
      <%- body %>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
  </body>
</html>
