:root {
    --primary: #8E9AAF;
    --secondary: #CBC0D3;
    --accent: #DEE2FF;
    --background: #FEEAFA;
    --highlight: #EFD3D7;

    
    --text-dark: #1F1F1F;
    --text-light: #6B7280;
    --border: #D1D5DB;
}
